
<div class="card mb-3">
  <img class="bd-placeholder-img card-img-top" src="<%= gravatar_url(@user, { size: 80 }) %>" alt="">
  <div class="card-body">
    <h5 class="card-title">name:<%= @user.name %></h5>
    <p class="card-text">email :  <%= @user.email %></p>
    <p class="card-text">the numbers of task:</p>
    <%= link_to 'Confirm Tasklist', root_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>
